/* Copyright © 2019 Assured Information Security, Inc.*/

@import url("/usr/share/themes/Flat-Remix-Miami-Dark/gnome-shell/gnome-shell.css");

html, body {
    margin: 0;
    height: 100%;
    background-image: radial-gradient(#b0b0b0, #a8a8a8);
}

p, h1, h2, h3 {
    user-select: none;
}

input, select {
    padding: 3px;
    border: 3px #bfbfbf;
    border-radius: 5px;
}

input:focus {
    outline: none !important;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #a6a6a6;
}

select:focus {
    outline: none !important;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #a6a6a6;
}

button, input, select, textarea {
    font-family: Cantarell, Sans-Serif;
    font-size: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.checkbox {
    padding: 2px;
    border-radius: 3px;
    border: 3px #bfbfbf;
}

.checkbox:focus {
    outline: none !important;
}

.app {
    font-family: Cantarell, Sans-Serif;
    font-size: 11pt;
    background-image: radial-gradient(#b0b0b0, #a8a8a8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

#error {
    -webkit-animation: fadein .3s;
    animation: fadein .3s;
    color: red;
    display: none;
}

.error-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    height: 10%;
}

.submenu {
    height: 90%;
    width: 90%;
    background-image: radial-gradient(#b8b8b8, #dedede);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 4px #888888;
    user-select: none;
}

.button {
    color: #fff;
    background-color: #5e5e5e;
    box-shadow: 3px 3px 3px #a6a6a6;
}

.button:focus {
    color: #fff;
    background-color: #5e5e5e;
    outline: none !important;
    box-shadow: 3px 3px 3px #a6a6a6;
}

.button.noselect {
    user-select: none;
}

.button:hover {
    background-color: #454545;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.checkmark {
    font-family: arial;
    -ms-transform: scaleX(-1) rotate(-35deg); /* IE 9 */
    -webkit-transform: scaleX(-1) rotate(-35deg); /* Chrome, Safari, Opera */
    transform: scaleX(-1) rotate(-35deg);
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #5e5e5e;
    border-color: #5e5e5e transparent #5e5e5e transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.scrollable-element {
    scrollbar-color: dark;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
